<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Charter"></Label>
</ActionBar>

<StackLayout (loaded)="refreshTotals()">
    <StackLayout class="p-20" xmlns:chart="nativescript-ui-chart">
        <GridLayout rows="*" height="200dp">
            <RadPieChart allowAnimation="true" row="0" height="200dp">
                <PieSeries tkPieSeries
                    selectionMode="DataPoint"
                    expandRadius="0.4"
                    outerRadiusFactor="0.7"
                    valueProperty="Amount"
                    legendLabel="Category"
                    [items]="pageData">
                </PieSeries>

                <RadLegendView tkPieLegend position="Right" title="Categories" offsetOrigin="TopRight" width="110" enableSelection="true"></RadLegendView>
            </RadPieChart>
        </GridLayout>
    </StackLayout>
    <StackLayout class="p-5">
        <DockLayout stretchLastChild="true">
            <Label class="h2 p-5" style="text-align: left" text="{{ dateToday }} Total" dock="left"></Label>
            <Label class="h2 p-5" style="text-align: right" text="{{ toCurrency(todaysTotal) }}" dock="right"></Label>
        </DockLayout>
        <ListView [items]="categorySums" class="list-group">
            <ng-template let-i="index" let-item="item">
                <DockLayout stretchLastChild="true">
                    <Label class="list-group-item" style="text-align: left" text="{{ item.category }}" dock="left"></Label>
                    <Label class="list-group-item" style="text-align: right" text="{{ toCurrency(item.total) }}" dock="right"></Label>
                </DockLayout>
            </ng-template>
        </ListView>
    </StackLayout>
</StackLayout>