<ScrollView class="page">
    <StackLayout class="entry_dialog">
        <Label class="dialog-title" text="Entry Button Settings"></Label>

        <Label text="Category"></Label>
        <TextField class="input" [(ngModel)]="entry.category" hint="Name"></TextField>
        <Label text="Amount"></Label>
        <TextField class="input" [(ngModel)]="entry.amount" hint="Name" keyboardType="number"></TextField>
        <Label text="Description"></Label>
        <TextField class="input" [(ngModel)]="entry.description" hint="Description"></TextField>

        <DockLayout>
            <Label dock="left" text="Save via Popup"></Label>
            <Switch dock="right" [(ngModel)]="entry.trigger_alert" isEnabled="true"></Switch>
        </DockLayout>
        
        <DockLayout stretchLastChild="false">
            <Button dock="left" text="Submit" class="btn btn-primary btn-rounded-sm" (tap)="closeAndSave()"></Button>
            <Button dock="right" text="Cancel" class="btn btn-outline btn-rounded-sm" (tap)="closeNoSave()"></Button>
        </DockLayout>
    </StackLayout>
</ScrollView>