<ScrollView class="page">
    <StackLayout class="entry_dialog">
        <Label class="dialog-title" text="{{ entry.category }}"></Label>

        <Label text="Amount"></Label>
        <TextField class="input" [(ngModel)]="entry.amount" hint="Name" keyboardType="number"></TextField>
        <Label text="Description"></Label>
        <TextField class="input" [(ngModel)]="entry.description" hint="Description"></TextField>
        <Button text="Submit" class="btn btn-primary btn-rounded-sm" (tap)="closeAndSave()"></Button>
        <Button text="Cancel" class="btn btn-outline btn-rounded-sm" (tap)="closeNoSave()"></Button>
    </StackLayout>
</ScrollView>