<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Browse"></Label>
</ActionBar>

<GridLayout (loaded)="refreshExpenseList()" class="page page-content">
    <ListView [items]="items" class="list-group">
        <ng-template let-item="item">
            <DockLayout stretchLastChild="true">
                <StackLayout class="list-group-item" dock="left">
                    <StackLayout orientation="horizontal">
                        <Label text="{{ toDate(item.date) }}" class="item-date"></Label>
                        <Label [text]="item.category" class="item-category"></Label>
                    </StackLayout>
                    <Label class="item-description" style="text-align: left" [text]="item.description"></Label>
                </StackLayout>
                <Label class="list-group-item" style="text-align: right" text="{{ toCurrency(item.amount) }}" dock="right"></Label>
            </DockLayout>
        </ng-template>
    </ListView>
</GridLayout>