.item-date {
    width: 120dp;
    font-size: 14px;
}

.item-category {
    font-size: 12px;
    font-weight: bold;
    background-color: #696969;
    color: white;
    padding: 10px;
    border-radius: 15px;
}

.item-description {
    font-size: 12px;
    font-style: italic;
}