<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Home"></Label>
</ActionBar>

<StackLayout (loaded)="refreshButtonList()" class="page page-content" loaded="pageLoaded">
    <FlexboxLayout row="0" col="0" flexWrap="wrap" justifyContent="space-around">
        <Button *ngFor="let button of buttons" text="{{ toIcon(button.icon) }}" (tap)="showAlert(button)" class="fa {{buttonSizeCssClass}} {{ !button.trigger_alert ? 'entry_button_direct_save' : '' }}"></Button>    
    </FlexboxLayout>
    <StackLayout class="p-5" col="0" verticalAlignment="bottom">
        <DockLayout stretchLastChild="true" *ngFor="let item of latestEntries">
            <StackLayout class="list-group-item" dock="left">
                <StackLayout orientation="horizontal">
                    <Label text="{{ toDate(item.date) }}" class="item-date"></Label>
                    <Label [text]="item.category" class="item-category"></Label>
                </StackLayout>
                <Label class="item-description" style="text-align: left" [text]="item.description"></Label>
            </StackLayout>
            <Label class="list-group-item" style="text-align: right" text="{{ toCurrency(item.amount) }}" dock="right"></Label>
        </DockLayout>           
    </StackLayout>
</StackLayout>
