%entry_button {
    background-color: blue;
    color: white;
    margin-top: 20;
}

.entry_button {
    @extend %entry_button;
    border-radius: 10;   
    width: 100;
    height: 100;
    font-size: 36;
}

.entry_button_lg {
    @extend %entry_button;
    border-radius: 75;   
    width: 150;
    height: 150;
    font-size: 36;
}

.entry_button:highlighted {
    background-color: cyan;
}

.entry_button_direct_save {
    background-color: green;
}

%latest-entry {
    font-size: 25;
}

.last-entry {
    @extend %latest-entry;
}

StackLayout .fa {
    @extend %latest-entry;
    padding: 5;
}