<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Settings"></Label>
</ActionBar>

<StackLayout>
    <StackLayout orientation="horizontal">
        <Label class="m-y-5 p-l-5 h3" text="Sync expenses"></Label>
        <Button text="Sync" (tap)="syncExpenseList()"></Button>    
    </StackLayout>

    <Label class="m-y-5 p-l-5 h3" text="Expense Entry Button Settings"></Label>
    <ListView [items]="buttons" class="list-group">
        <ng-template let-i="index" let-button="item">
            <GridLayout columns="60, 120, *, auto" rows="*, *, *, *, *, *, *, *, *" width="360" (tap)="showEditModal(button, i)">
                <Label row="0" col="0" text="{{ toIcon(button.icon) }}" class="button-icon list-group-item fa"></Label>
                <Label row="0" col="1" text="{{ button.category }}" class="button-category list-group-item"></Label>
                <Label row="0" col="2" class="list-group-item button-description" text="{{ button.description }}"></Label>
                <Label row="0" col="3" class="list-group-item button-amount" text="{{ button.amount }}"></Label>
            </GridLayout>
        </ng-template>
    </ListView>
    
</StackLayout>